<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Edición Concurso</title>
        <link rel="shortcut icon" href="assets/img/balon.png">
        
    </head>
    <body>
        <% if(process.env.TIPO_USUARIO === "admin"){ %>
            <%- include('partials/_header-admin') %>
        <%}else{%>    
            <script>
                window.location.href = "/inicio";
            </script>
        <%}%>   


        <% if(typeof alta !== 'undefined'){ %>
            <div class="alert alert-primary" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </svg>
                <strong>Mensaje: </strong><%- alta %>
            </div>
        <% } %>

        
        <div class="container">
            <div class="row">
                <div class="form-group col-md-3">
                
                </div>
                <div class="form-group col-md-6 mt-5">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title text-center">Edición Concurso</h5>
                        </div>
                        <div class="card-body">
                            <form action="/gardarEditarConcurso" method="post">
                                <div class="form-group row mt-2">
                                    <div class="col-md-12">
                                        <select class="form-control col-md-10" name="usuario" required>
                                            <option value=""></option>
                                            <% if(usuarios){ 
                                                for(let i = 0; i < usuarios.length; i++){ %>
                                                    <option value="<%= usuarios[i].idusuario %>"><%= usuarios[i].nombre %></option>
                                                <% } %>    
                                            <% } %>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row mt-3"> 
                                    <div class="col-md-12">
                                        <input class="form-control col-md-10" id="nombreAnterior" name="nombreAnterior" placeholder="Nombre del Concurso Anterior" maxlength="20" value="<%= process.env.CONCURSO_ANTERIOR %>" required>
                                    </div>
                                </div>
                                <div class="form-group row mt-3"> 
                                    <div class="col-md-12">
                                        <input class="form-control col-md-10" id="nombre" name="nombre" placeholder="Nombre del Concurso Nuevo" maxlength="20" value="<%= process.env.CONCURSO_NUEVO %>" required>
                                    </div>
                                </div>
                                <div class="alineacionCentrada">
                                    <button type="submit" class="btn btn-primary row mt-2">Guardar concurso</button>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-3">
                
                </div>
            </div>
        </div>
    </body>
</html>